<div class="faq">

<h1>FAQ</h1>

<h3>WHAT IS THE HOUSE STAFF DIRECTORY?</h3>

<p>
  The House Staff Directory transforms publicly available information about the House of Representatives to empower the public to better communicate with their elected representatives. It is no secret that congressional staff are the lifeblood of Congress, but identifying the best staffer to speak with about a particular issue is a daunting challenge.
</p>


<h3>WHAT MAKES THE HOUSE STAFF DIRECTORY UNIQUE?</h3>

<p>
  Four things combine to make the House Staff Directory unique:
</p>

<ol>
  <li>
    It's free.
  </li>

  <li>
    It's a directory of all House employees, including those who provide legislative support to the functioning of Congress, with data no more than 6 months old.
  </li>

  <li>
    You can perform complex searches by staff title, political party, quarter or state and download that information into a spreadsheet.
  </li>

  <li>
    You can search over multiple quarters to see the employment trail for a particular staffer.
  </li>
</ol>


<h3>WHAT CAN I DO WITH THIS INFORMATION?</h3>

<p>
  The better question is: What do you want to do?
</p>

<ul>
  <li>
    If you want a list of all of the press secretaries whose bosses serve on a particular committee, or a myriad of other combinations of information, you can get it here.
  </li>

  <li>
    If you met a staffer but lost his or her contact information, you can look that up here.
  </li>

  <li>
    If you're trying to find the phone number for a legislative support office, it's available here.
  </li>

  <li>
    If you want the room numbers for certain offices, you can get them here.
  </li>

  <li>
    You can see what other offices a staffer has worked in, or his or her title.
  </li>

  <li>
    Found another use? <a href="http://getsatisfaction.com/sunlightfoundation/">Tell us about it</a>.
  </li>
</ul>


<h3>WHERE DOES YOUR DATA COME FROM? HOW RECENT IS IT?</h3>

<p>
  We draw all of our data from three public sources.
</p>

<ol>
  <li>
    A list of addresses and phone numbers for each personal and committee office is <a href="http://clerk.house.gov/member_info/index.html">published online</a> by the House Clerk's office. This information is updated after each election and as rooms change.
  </li>
  
  <li>
    Addresses and phone numbers for many miscellaneous House offices are made available <a href="http://clerk.house.gov/member_info/houseMisc.pdf">in a PDF</a> from the House Clerk. This information is updated at least once every two years.
  </li>

  <li>
    Our list of House staff comes from the the <a href="http://disbursements.house.gov">House Statement of Disbursements</a>, a quarterly document published by the Clerk that lists every penny spent in the House. Although the report is published in print every quarter, it takes some time (but no more than 3 months) for the Clerk to publish this information online in PDF format. We scrape the data and <a href="http://sunlightfoundation.com/projects/expenditures/">publish it online</a> in a more usable format. Then, we go through this data and identify each staffer, their title and where they work.  
  </li>
</ol>

<p>
  At worst, our list of staff in a particular office is 6 months out of date.
</p>

<h3>HOW COMPREHENSIVE IS THIS INFORMATION?</h3>

<p>
  Because we draw upon the House Statement of Disbursements, we have a list of everyone who is paid by the House of Representatives. As a result, in addition to including legislative offices, we also include offices in the House that support legislative activities. We believe that a directory of this information will be most useful to House staff and others, too.
</p>


<h3>HOW ACCURATE IS THIS DIRECTORY?</h3>

<p>
  We think it's pretty accurate. There are two majors places where errors can creep in.
</p>

<ol>
  <li>
    The raw data is inaccurate. We have no control over the accurate of the information released by the House of Representatives.
  </li>

  <li>
    We put a lot of effort into cleaning up the raw text included in the House Statement of Disbursements. For example, there are many ways of indicating the title of "staff assistant," many of which are abbreviations of the term.  So, "Staff Asst.", "Staff Ast", typos, etc., have all been corrected by hand. It was a daunting task, and likely we made some mistakes. Let us know when you find one.
  </li>
</ol>

<p>
  We also truncated some titles. For example, we would replace "Environmental Legislative Assistant" with "Legislative Assistant." We wanted to make it easier for people to compare apples to apples. The raw data is available if you want to see all of the variations on the titles.
</p>


<h3>WHERE IS THE DIRECT CONTACT INFORMATION?</h3>

<p>
  Please note that we only use publicly available information. We do not provide direct phone numbers for particular staff, but rather the number for the main office. Also, although some staff may be in a district office, because we have no way of knowing that, we have indicated the main office phone number in Washington, D.C.
</p>


<h3>WHY IS A STAFFER LISTED IN MORE THAN ONE OFFICE?</h3>

<p>
  There are several possible reasons.
</p>

<ol>
  <li>
    The data we are drawing from is a snapshot of a quarter of the year. Staff move around a lot, including serving in two offices during a particular quarter. Thus, they will show up twice.
  </li>

  <li>
    Some staff are shared staff, meaning they have responsibilities in multiple offices. This happens most often with caucus staff and committee staff.
  </li>

  <li>
    Two different staffers may have identical names. We have no way of knowing that they are two entirely different people.
  </li>
</ol>


<h3>WHERE ARE THE EMAIL ADDRESSES?</h3>

<p>
  The House of Representatives does not make publicly available email addresses for staff. Some private companies do gather this information and sell it for a fee. If you wish for a particular staffer's email address, it is best to ask for it. To communicate with a congressional office electronically, the House recommends that you use their <a href="https://writerep.house.gov/writerep/welcome.shtml">WriteRep system</a>.
</p>


<h3>WHERE IS STAFF SALARY INFORMATION?</h3>

<p>
  <a href="http://www.legistorm.com">Legistorm</a> publishes House staff salary information. Although we do have some salary data in the raw data, our purpose was to build a directory.
</p>


<h3>HOW DO I KNOW WHO WORKS ON A PARTICULAR ISSUE?</h3>

<p>
  Unfortunately, there is no public source that identifies the issue areas on which particular staffers work. Your best bet is to contact the office that you're interested in. If you wish to get a list of all staffers who work in your issue area, you will need to contact a commercial vendor that compiles this information.
</p>


<h3>I FOUND A MISTAKE.</h3>

<p>
  We're sorry to hear that, and hope you'll tell us about it. Please keep in mind some kinds of mistakes we cannot fix because we're not the source of the error. But do let us know.
</p>


<h3>I HAVE AN IDEA TO MAKE THIS BETTER.</h3>

<p>
  Great! We'd love to hear from you. <a href="http://getsatisfaction.com/sunlightfoundation/">Drop us a line</a>.
</p>


<h3>I WANT TO PLAY WITH THE DATA.</h3>

<p>
  You can download the data in bulk <a href="https://github.com/sunlightlabs/disbursements/tree/master/staffers/data/">from Github</a>. There's no copyright on the data, so have fun. The <a href="https://github.com/sunlightlabs/disbursements">code we wrote</a> to generate the data is available and licensed under the <a href="http://www.gnu.org/licenses/gpl-3.0.txt">General Public License v3</a>. If you're interested, you can see more of Sunlight's code <a href="https://github.com/sunlightlabs/">on Github</a>, and check out our <a href="http://services.sunlightlabs.com">various data APIs</a>. If you build something with our data, we'd love it if you let us know.
</p>

<p>
  You can also get the <a href="http://github.com/sunlightlabs/staffers">source code for this website</a>, licensed under the <a href="http://www.gnu.org/licenses/gpl-3.0.txt">General Public License v3</a>.
</p>

<h3>WHO IS RESPONSIBLE FOR THE HOUSE STAFF DIRECTORY?</h3>

<p>
  The Sunlight Foundation, a non-profit organization that works to make the government more transparent by encouraging public information to be published online, in real time, and in machine readable formats.
</p>

</div>