<% content_for(:footer_id) do %>footer-person<% end %>

<div id="main-basic" class="main" role="main">
  <article id="basic-content" class="center" role="main">
    <h2>Frequently Asked Questions</h2>
    <section class="basic-text" role="main">
      <section class="text-content">
        <h3>What is the House Staff Directory?</h3>
        <p>The House Staff Directory makes it easy to search publicly available information about the House of Representatives to allow Americans to better communicate with their elected representatives. It is no secret that congressional staff are the lifeblood of Congress, but identifying the best staffer to speak with about a particular issue can be a daunting challenge.
        </p>
      </section>
      <section class="text-content">
        <h3>What makes the House Staff Directory unique?</h3>
        <span>Four things combine to make the House Staff Directory unique:</span>
        <ul>
          <li>It's free.
          </li>
            <li>It's a directory of all House employees, including those who provide legislative support to the functioning of Congress, with data no more than six months old.
          </li>
          <li>You can perform complex searches by staff title, political party, fiscal quarter or state and download that information into a spreadsheet.
          </li>
          <li>You can search over multiple quarters to see the congressional employment history for a particular staffer.
          </li>
        </ul>
      </section>
      <section class="text-content">
        <h3>What can I do with this information?</h3>
        <span>The better question is: What do you want to do?</span>
        <ul>
          <li>If you want a list of all of the press secretaries whose bosses serve on a particular committee, or a myriad of other combinations of information, you can get it here.
          </li>
            <li>If you met a staffer but lost his or her contact information, you can look that up here.
          </li>
          <li>If you're trying to find the phone number for a legislative support office, it's available here.
          </li>
          <li>If you want the room numbers for certain offices, you can get them here.
          </li>
          <li>You can see what other offices a staffer has worked in, or his or her title.
          </li>
        </ul>
        <span>Found another use? <a href="http://getsatisfaction.com/sunlightfoundation/">Tell us about it.</a>
      </section>
      <section class="text-content">
        <h3>Where does your data come from? How recent is it?</h3>
        <span>We draw all of our data from three public sources. </span>
        <ul>
          <li>A list of addresses and phone numbers for each personal and committee office is <a href="http://clerk.house.gov/member_info/index.html">published online</a> by the House Clerk's office. This information is updated after each election and as rooms change.
          </li>
            <li>Addresses and phone numbers for many miscellaneous House offices are made available <a href="http://clerk.house.gov/member_info/houseMisc.pdf">in a PDF</a> from the House Clerk. This information is updated at least once every two years.
          </li>
          <li>Our list of House staff comes from the the <a href="http://disbursements.house.gov/">House Statement of Disbursements</a>, a quarterly document published by the Clerk that lists every penny spent in the House. Although the report is published in print every quarter, it takes some time (but no more than 3 months) for the Clerk to publish this information online in PDF format. We scrape the data and <a href="http://sunlightfoundation.com/projects/expenditures/">publish it online</a> on our House Expenditure Reports database in a more usable format. Then, we go through this data and identify each staffer, their title and where they work.
          </li>
        </ul>
        <span>At most, our list of staff in a particular office is six months out of date.</span>
      </section>
      <section class="text-content">
        <h3>Where is the direct contact information?</h3>
        <p>Please note that we only use publicly available information. We do not provide direct phone numbers for particular staff, but rather the number for the main office. For some staff, we do not know if they are based in a district office or Capitol Hill, so we just included the main office phone number in Washington, D.C.
        </p>
      </section>
      <section class="text-content">
        <h3>Why is a staffer listed in more than one office?</h3>
        <span>There are several possible reasons. </span>
        <ul>
          <li>The data we are drawing from is a snapshot of a quarter of the year. Staff move around a lot, including serving in two offices during a particular quarter. Thus, they will show up twice.
          </li>
            <li>Some staff are shared staff, meaning they have responsibilities in multiple offices. This happens most often with caucus staff and committee staff.
          </li>
          <li>Two different staffers may have identical names. We have no way of knowing that they are two entirely different people.
          </li>
        </ul>
      </section>
      <section class="text-content">
        <h3>Where are the email addresses?</h3>
        <p>The House of Representatives does not make publicly available email addresses for staff. Some private companies do gather this information and sell it for a fee. If you wish for a particular staffer's email address, it is best to ask for it. To communicate with a congressional office electronically, the House recommends that you use their <a href="https://writerep.house.gov/writerep/welcome.shtml">WriteRep system</a>.
        </p>
      </section>
      <section class="text-content">
        <h3>Where is staff salary information?</h3>
        <p><a href="http://www.legistorm.com/">Legistorm</a> publishes House staff salary information. Although we do have some salary data in the raw data, our purpose was to build a directory.
        </p>
      </section>
      <section class="text-content">
        <h3>How do I know who works on a particular issue?</h3>
        <p>Unfortunately, there is no public source that identifies the issue areas on which particular staffers work. Your best bet is to contact the office that you're interested in. If you wish to get a list of all staffers who work in your issue area, you will need to contact a commercial vendor that compiles this information.
        </p>
      </section>
      <section class="text-content">
        <h3>I found a mistake.</h3>
        <p>We're sorry to hear that, and hope you'll tell us about it. Please keep in mind some kinds of mistakes we cannot fix because we're not the source of the error. But do <a href="http://getsatisfaction.com/sunlightfoundation/">let us know</a>.
        </p>
      </section>
      <section class="text-content">
        <h3>I have an idea to make this better.</h3>
        <p>Great! We'd love to hear from you. <a href="http://getsatisfaction.com/sunlightfoundation/">Drop us a line.</a>
        </p>
      </section>
      <section class="text-content">
        <h3>I want to play with the data.</h3>
        <p>
          You can download the expenditure data upon which our staffer data is premised, in bulk, <a href="https://github.com/sunlightlabs/disbursements/tree/master/staffers/data/">from Sunlight's website</a>. There's no copyright on the data, so have fun.
        </p>
        <p>
          The <a href="https://github.com/sunlightlabs/disbursements">code we wrote</a> to generate the data is available and dedicated to the <a href="http://creativecommons.org/publicdomain/zero/1.0/">worldwide public domain</a>. You can also check out our <a href="https://sunlightfoundation.com/api/">various data APIs</a>. If you build something with our data, we'd love it if you let us know.
        </p>
        <p>
          Finally, you can get the <a href="https://github.com/sunlightlabs/staffers">source code for this website</a>, licensed under the <a href="http://www.gnu.org/licenses/gpl-3.0.txt">General Public License v3</a>.
        </p>
      </section>
      <section class="text-content">
        <h3>Who is responsible for the House Staff Directory?</h3>
        <p>The Sunlight Foundation, a non-profit organization that works to make the government more transparent by encouraging public information to be published online, in real time, and in machine readable formats.
        </p>
      </section>
    </section>

    <div id="right-of-text" class="directory-search-area-right">
      <div id="directory-search-right-corner"></div>
      <div id="directory-search-right" role="search">
        <h3 id="new-search" class="replace">New Search</h3>
        <span class="tip">Fill out one or more of the fields below to create a new search.</span>
        <%= partial :search, :locals => {:position => "right"} %>
      </div>
    </div>

    <div class="clear"></div>
  </article>

  <div class="clear"></div>
</div>