<div class="search">
  <form action="/staffers" method="get">

    <table class="search">
      <tr class="quarter">
        <td>
          <label for="quarter">Quarter:</label>
        </td><td>
          <%= quarter_select %>
        </td>
      </tr><tr>
        <td>
          <label for="staffer_name">Last name of a staffer:</label>
        </td><td>
          <input type="text" name="staffer_name" id="staffer_name" />
        </td>
      </tr><tr>
        <td colspan='2'>or</td>
      </tr><tr>
        <td>
          <label for="legislator_name">Last name of a legislator:</label>
        </td><td>
          <input type="text" name="legislator_name" id="legislator_name" />
        </td>
      </tr><tr>
        <td colspan="2">
          <input type="submit" value="Search" class="search" />
        </td>
      </tr>
    </table>
  </form>
</div>

<div class="offices">
  <h3>Or view a list of offices:</h3>
  <ul>
    <li>
      <a href="/offices?type=member">Members</a>
    </li>
    <li>
      <a href="/offices?type=committee">Committees</a>
    </li>
    <li>
      <a href="/offices?type=other">Other Offices</a>
    </li>
  </ul>
</div>