<div class="search">
  <form action="/staffers" method="get">

    <h3>Search for staffers</h3>
    
    <table class="search">
      <tr>
        <td>
          <label for="quarter">Quarter:</label>
        </td><td>
          <%= quarter_select %>
        </td>
      </tr><tr>
        <td>
          <label for="firstname">First name:</label>
        </td><td>
          <input type="text" name="firstname" id="firstname" />
        </td>
      </tr><tr>
        <td>
          <label for="lastname">Last name:</label>
        </td><td>
          <input type="text" name="lastname" id="lastname" />
        </td>
      </tr><tr>
        <td>
          <label for="title">Title:</label>
        </td><td>
          <input type="text" name="title" id="title" />
        </td>
      </tr><tr>
        <td>
          <label for="state">State:</label>
        </td><td>
          <%= state_select %>
        </td>
      </tr><tr>
        <td>
          <label for="party">Party:</label>
        </td><td>
          <%= party_select %>
        </td>
      </tr><tr>
        <td colspan="2">
          <input type="submit" value="Search" class="search" />
        </td>
      </tr>
    </table>
  </form>
</div>

<div class="offices">
  <h3>Or view a list of offices</h3>
  <ul>
    <li>
      <a href="/offices?type=member">Members</a>
    </li>
    <li>
      <a href="/offices?type=committee">Committees</a>
    </li>
    <li>
      <a href="/offices?type=other">Other Offices</a>
    </li>
  </ul>
</div>