<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
<head>
  <title>House Staff Directory</title>
  <link href="/stylesheets/sf_frame.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/popup.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
  
  <script type="text/javascript" src="/javascripts/jquery-1.4.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/jqModal.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.qtip-1.0.0-rc3.min.js"></script>
</head>
<body>
  
  <header class="main"> 
    <a href="http://sunlightfoundation.com"><h1>Sunlight Foundation</h1></a> 
  </header> 
  
  <div id="navWrapper"> 
    <div class="container" style="display: none"> 
      <span class="list_prompt">You should join the transparency movement</span> 
      <div id="socialMedia"> 
        <ul> 
          <li><a href="http://www.sunlightfoundation.com/feeds/latest/" class="social_6">RSS</a></li>  
          <li><a href="http://www.facebook.com/inbox/?ref=mb#/pages/Washington-DC/Sunlight-Foundation/6921874941" class="social_1">Facebook</a></li>  
          <li><a href="http://twitter.com/sunlightnetwork" class="social_2">Twitter</a></li> 
          <li><a href="http://www.youtube.com/sunlightfoundation" class="social_3">YouTube</a></li> 
        </ul>     
      </div>
      
      <form id="mailinglist-form" method="post" action="/mailinglist/subscribe/"> 
        <ul>
          <li>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" />
          </li>    
          <li> 
            <label for="zipcode">Zip</label>
            <input type="text" id="zipcode" name="zipcode" />
          </li> 
          <li> 
            <input type="submit" class="join_button" />
          </li>
        </ul>
      </form>
    </div>    
  </div> 

  <div class="header">
    <h1>
      <a href="/">House Staff Directory</a>
    </h1>
  
    <ul class="nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/faq">FAQ</a>
      </li>
      <li>
        <a href="http://github.com/sunlightlabs/staffers">Open Source</a>
      </li>
      <li>
        <a href="http://getsatisfaction.com/sunlightfoundation/">Feedback</a>
      </li>
    </ul>
  
  </div>
  
  <div class="main">
    <%= yield %>
  </div>
  
  <div class="footer">
    All information taken from the official House of Representatives' <a href="http://disbursements.house.gov">Statements of Disbursements</a>.  (Made more <a href="http://sunlightfoundation.com/projects/expenditures/">easily searchable by Sunlight</a> here.) Hover over a red question mark to see the data as it was originally released.
  </div>
  
  <script type="text/javascript">
    // modified tooltips
    $(function() {
      $('a[title]').qtip({
        style: {
          name: 'light', 
          width: 400,
          tip: true
        },
        show: {
          delay: 1
        }
      });
    });
  </script>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1265484-72']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
</body>
</html>