<!doctype html>
<html>
<head>
  <title>Staffer Directory</title>
  <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <div class="header">
    <h1>
      <a href="/">House Staffer Directory</a>
    </h1>
  </div> 
  
  <div class="main">
    <%= yield %>
  </div>
  
  <div class="footer">
    This website is a project of the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, and is <a href="http://github.com/sunlightlabs/staffers">open source</a>. Information taken from the official House of Representatives' <a href="http://disbursements.house.gov">Statements of Disbursements</a>.
  </div>
  
</body>
</html>