<h2><%= display_name staffer %></h2>

<% staffer['quarters'].each do |quarter, positions| %>
  <div class="quarter">
    <h3><%= quarter %></h3>
    <% positions.each do |position| %>
      <strong><%= position['title'] %></strong> for <%= position['office']['name'] %>
    <% end %>
  </div>
<% end %>